.wrapper {
    width: 90%;
    margin: 10px auto;
    box-shadow: 0 0 10px 0 silver;
}

/*  header  */
.header {
    background-color: #232f3e;
    border-radius: 5px 5px 0 0;
    color: #fff;
}

.header a {
    color: #bcbdc7;
    transition: all 0.3s linear;

}

.topinfo {
    border-bottom: 1px solid #303e4f;
    justify-content: space-between;
}

.acountlistlink {
    display: block;
    padding: 5px 12px;
}

.acountlistlink>i {
    padding-left: 4px;
}

.acountlistlink:hover {
    color: #fff;
}

.languages {
    padding: 5px 0 0 10px;
}

.fa_icon {
    width: 20px;
    vertical-align: middle;
}

.header_info {
    padding: 20px;
    border-bottom: 1px solid #303e4f;
}

.searchbox {
    flex-grow: 1;
    height: 40px;
    justify-content: center;
}

.categoryslist {
    border: none;
    padding: 8px 15px;
    border-radius: 0 15px 15px 0;
}

.searchinput {
    border: none;
    padding: 8px 15px;
}

.btnsearch {
    padding: 10px 15px;
    background-color: #f4a137;
    color: #fff !important;
    border-radius: 20px 0 0 20px;
}

.contactus {
    margin: 0 0.8em;
    font-size: 0.9em;
}

.contactusicon {
    font-size: 2em;
    padding: 0 0.3em;
}

.card {
    font-size: 0.9em;
}

.carticon {
    background-color: #f4a137;
    padding: 5px;
    margin-top: 4px;
}

.contacticon {
    margin-top: 11px;
}

.topnav {
    position: relative;
}

.topnavlink {
    display: block;
    padding: 10px 12px;
    font-size: 0.9em;
    position: relative;
}

.topnavlink:hover {
    color: #fff;
}

.topnavitem:hover>.submenu {
    display: block;
}

.hotcategory::before {
    content: ' ';
    position: absolute;
    background-image: url(../images/icons/hot-icon\ \(1\).png);
    width: 36px;
    height: 21px;
    top: -0.6em;
    right: 30%;
}

.submenu {
    display: none;
    width: 100%;
    height: 200px;
    background-color: red;
    position: absolute;
    top: 100%;
    right: 0;
}

.submenuvantainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.submenuimage {
    position: absolute;
    width: 200px;
    bottom: 0;
    left: 0;
}

.submenuitem {
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.submenulistitem {
    width: 25%;
}

/*  main    */
.main {
    background-color: #fff;
}

.slider {
    height: 422px;
    padding: 10px;
}

.r_ads {
    width: 25%;
    margin-left: 10px;
}

.l_ads {
    flex-grow: 1;
}

.r_ads img,
.l_ads img {
    width: 100%;
    height: 100%;
}

.topproduct {
    background-color: silver;
}

.topproductitem {
    flex-grow: 1;
    padding: 10px;
}

.topproductimage img {
    border-radius: 50%;
    padding-left: 10px;
}

.topproductinfo {
    align-self: center;
}

.ts_detail {
    flex-grow: 2;
    margin: 10px;
    width: 40%;
}

.s_thumb {
    border: 1px solid silver;
    padding: 5px;
    margin: 10px 0 5px 8px;
}

.ts_list {
    flex-grow: 3;
    width: 60%;
}

.ts_productlist {
    flex-wrap: wrap;
}

.ts_productitem {
    width: 33%;
    flex-grow: 1;
}

.ts_productitemdetail {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
}

.productimage {
    width: 100%;
}

.producttitle {
    color: #000;
    display: block;
}

.producttitle:hover {
    color: #f4a137;
}

.priceitem {
    color: red;
}

.productaction {
    margin: 10px 0;
}

.productimageovely {
    position: relative;
    overflow: hidden;
}

.overlyimage {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.1s linear;
}

.ts_productitemdetail:hover .overlyimage {
    top: 0;
    opacity: 1;
}

.ts_productitemdetail:hover .btn_default {
    top: 50%;
    opacity: 1;
}

.ts_productitemdetail .btn_default {
    position: absolute;
    top: -100%;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s linear;
}

.banner {
    padding: 10px;
}

.banner img {
    width: 100%;
    display: block;
}

.banner_kenar_jadval a {
    margin: 40px 0 0 10px;
}

.img_tak {
    padding: 5px 0 0 0;
}

.newproductitems {
    width: 25%;
}

.colloctionitem {
    width: 16.5%;
    flex-grow: 1;
}

.colloctionditailitem {
    background-color: #eee;
    border: 2px solid transparent;
    margin: 5px;
}

.colloctionditailitem:hover {
    border-color: #f4a137;
    background-color: #fff;
}

.colloctionlink {
    display: block;
    border-bottom: 3px solid #f4a137;
    position: relative;
}

.collectiontitle {
    position: absolute;
    top: 5px;
    right: 0;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.hotsaleitemcontainer {
    flex-wrap: wrap;
}

.hotsaleitem {
    width: 33%;
    flex-grow: 1;
}

.hotsaledetail {
    margin: 10px;
    border: 1px solid #ddd;
}

.hotsaleimage {
    width: 150px;
}

.hotsaleimage img {
    width: 100%;
}

.hotsaleinfo {
    flex-grow: 1;
}

.hotcategoryitem {
    width: 25%;
}

.hotcategorydeteils {
    margin: 10px;
}

.hotcategoryimage {
    position: relative;
}

.hotcategoryimage .btn {
    position: absolute;
    bottom: 27px;
    right: 179px;
}

.hotcategoryimage img {
    width: 100%;
}

.linkhotcategory {
    margin-top: -28px;
    display: block;
    color: #444;
}

.linkhotcategory:hover {
    color: #f4a137;
    transition: all 0.2s linear;
}

.linksht_category {
    font-size: 12px;
    padding: 2px 2px;
    margin-right: 25px;
}

.linksht_category:hover {
    background-color: #555;
}
.hotcategorylist{
    margin-top: -14px;
}
.hotcategorylistitem{
    list-style-type: square;
    color: silver;
}
.hotcategorylistitem:hover,
.hotcategorylistlink:hover{
    color: #f4a137;
    transition: all 0.2s linear;
}
.hotcategorylistlink{
    color: #444;
    
}



/*  footer  */